@use "src/styles/function/function" as *;
@use "src/styles/typography/typography" as *;

.uploadPage {
  @include flex-column;
  padding: 20px;
  gap: 20px;

  h1 {@include headline2-bold;}
}

.formGroup {
  @include flex-column;

  label {
    @include label-bold;
  }

  input {
    border: none;
    border-bottom: 1px solid var(--Line-Normal);
    padding: 8px 4px;
    @include body-medium;

    &::placeholder {
      color: var(--Label-Neutral);
    }

    &:focus {
      outline: none;
    }
  }
}

.uploadBox {
  margin-bottom: 20px;

  label {
    @include flex-center;
    width: 100%;
    height: 120px;
    border: 1px solid var(--Line-Normal) ;
    border-radius: 10px;
    display: flex;
    font-weight: 600;
    cursor: pointer;
  }
}

.previewGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.previewItem {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--Line-Normal);
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .imageActions {
    position: absolute;
    top: 4px;
    right: 4px;

    button {
      @include flex-center;
      @include body-bold;
      background-color: red;
      color: #fff;
      border: none;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      line-height: 1;
      text-align: center;
      cursor: pointer;
    }
  }
}