:root {
  --Common-00: #ffffff;
  --Common-100: #000000;

  --Netural-99: #fcfcfd;
  --Netural-97: #f6f6f7;
  --Netural-95: #f2f2f3;
  --Netural-90: #e4e4e5;
  --Netural-80: #c8c8cc;
  --Netural-70: #acacb2;
  --Netural-60: #919199;
  --Netural-50: #767680;
  --Netural-40: #5e5e66;
  --Netural-30: #47474d;
  --Netural-25: #3b3b40;
  --Netural-20: #313135;
  --Netural-15: #252528;
  --Netural-10: #19191b;
  --Netural-7: #111113;
  --Netural-5: #0c0c0d;

  --Red-99: #fefbfb;
  --Red-95: #fce9e9;
  --Red-90: #f9d2d2;
  --Red-80: #f2a6a6;
  --Red-70: #ff6666;
  --Red-60: #eb4747;
  --Red-50: #ee2b2b;
  --Red-40: #bd0f0f;
  --Red-30: #8e0b0b;
  --Red-20: #5e0808;
  --Red-10: #2f0404;

  --Orange-99: #fffdfa;
  --Orange-95: #fef5e6;
  --Orange-90: #feeacd;
  --Orange-80: #fcd69c;
  --Orange-70: #fbc16a;
  --Orange-60: #faac38;
  --Orange-50: #f99806;
  --Orange-40: #c77905;
  --Orange-30: #955b04;
  --Orange-20: #633d03;
  --Orange-10: #321e01;

  --Green-99: #fbfefb;
  --Green-95: #e8fcea;
  --Green-90: #d2f9d6;
  --Green-80: #a6f2ad;
  --Green-70: #79ec85;
  --Green-60: #4de55c;
  --Green-50: #20df33;
  --Green-40: #0fbd21;
  --Green-30: #0b8e18;
  --Green-20: #085e10;
  --Green-10: #042f08;

  --Blue-99: #fafdff;
  --Blue-95: #e5f3ff;
  --Blue-90: #cce8ff;
  --Blue-80: #99d1ff;
  --Blue-70: #66b9ff;
  --Blue-60: #33a2ff;
  --Blue-50: #008bff;
  --Blue-40: #006fcc;
  --Blue-30: #005399;
  --Blue-20: #003866;
  --Blue-10: #001c33;

  --Yellow-99: #fffefa;
  --Yellow-95: #fffae5;
  --Yellow-90: #fff5cc;
  --Yellow-80: #ffeb99;
  --Yellow-70: #ffe066;
  --Yellow-60: #ffd633;
  --Yellow-50: #ffcc00;
  --Yellow-40: #cca300;
  --Yellow-30: #997a00;
  --Yellow-20: #665200;
  --Yellow-10: #332900;

  --Purple-99: #fcfaff;
  --Purple-95: #f1e6fe;
  --Purple-90: #e3cdfe;
  --Purple-80: #c79cfc;
  --Purple-70: #ab6afb;
  --Purple-60: #8f38fa;
  --Purple-50: #7306f9;
  --Purple-40: #5c05c7;
  --Purple-30: #450495;
  --Purple-20: #2e0363;
  --Purple-10: #170132;
}
